footer {
    background-image: url('../../../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-color: $veryLightGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-line {
        height: max-content;
    }
    .footer-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr auto auto;
        grid-row-gap: 20px;
        div {
            font-family: $karla;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            line-height: 2;
            font-weight: 700;
            .top-item {
                color: $darkGrayishViolet;
            }
        }
    }
}