.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $darkViolet;
    text-align: center;
    background-image: url("../../../images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    h1 {
        font-family: $dmSerifDisplay;
        font-size: 48px;
        text-align: center;
        color: $veryLightGray;
        z-index: 1;
        margin: 2em 1rem 0 1rem;
    }
    p {
        font-family: $karla;
        color: $veryLightGray;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: 1px;
        z-index: 1;
        margin: 2em 1rem 0 1rem;
    }
    .view-plans-link {
        border: 2px solid $veryLightGray;
        font-family: $karla;
        text-decoration: none;
        color: $veryLightGray;
        text-transform: uppercase;
        padding: 20px;
        width: 120px;
        margin: 2em 1rem 4em 1rem;
        letter-spacing: 1px;
        z-index: 3;
    }
}