.hero {
    background-color: $darkViolet;
    color: $veryLightGray;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bg-pattern-left-mobile {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .bg-pattern-right-mobile {
        position: absolute;
        top: 380px;
        right: 0;
        z-index: 1;
    }
    h1 {
        font-family: $dmSerifDisplay;
        font-size: 42px;
        z-index: 2;
        margin: 2em 0 0 0;
    }
    p {
        font-family: $karla;
        font-weight: 400;
        margin: 2em 1em 0 1em;
        text-align: center;
        line-height: 1.6;
    }
}
@media screen and (min-width: 375px) {
    .hero {
        .bg-pattern-right-mobile {
            top: 320px;
        }
    }
}