.how-we-work-block {
    background-color: $darkViolet;
    background-image: url('../../../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    h2 {
        font-size: 42px;
        font-family: $dmSerifDisplay;
        text-align: center;
        margin: 1em 0 0 0;
        color: $veryLightGray;
    }
}