main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .bg-pattern-right {
        align-self: flex-end;
        position: absolute;
        margin-top: 11em;
    }
}