main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .bg-pattern-right {
        position: absolute;
        align-self: flex-end;
        margin-bottom: 42em;
        z-index: 2;
    }
}