.were-different {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wd-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        svg {
            margin: 1em 0;
        }
        h2 {
            font-size: 42px;
            font-family: $dmSerifDisplay;
            margin: 0 0 1em 0;
        }
    }
    .were-different-items {
        .wd-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                margin: 1em 0;
            }
            h3 {
                font-family: $dmSerifDisplay;
                margin: 1em 0;
                font-size: 36px;
            }
            p {
                font-family: $karla;
                text-align: center;
                line-height: 1.4;
                margin: 0 2em;
                color: $darkGrayishViolet;
            }
        }
    }
}