.hide {
    position: absolute !important;
    top:-9999px !important;
    left: -9999px !important;
}
.noscroll {
    overflow: hidden;
}
.link {
    font-family: $karla;
    border: 1px solid $veryLightGray;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: $veryLightGray;
    letter-spacing: 1.2px;
}