@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .bg-pattern-right {
  align-self: flex-end;
  justify-self: start;
  position: absolute;
  margin-top: 2em;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header img {
  margin: 1em 2em;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2d2640;
  text-align: center;
  background-image: url("../../../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
}
.hero h1 {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  text-align: center;
  color: #fafafa;
  z-index: 1;
  margin: 2em 1rem 0 1rem;
}
.hero p {
  font-family: "Karla", sans-serif;
  color: #fafafa;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 1px;
  z-index: 1;
  margin: 2em 1rem 0 1rem;
}
.hero .view-plans-link {
  border: 2px solid #fafafa;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  padding: 20px;
  width: 120px;
  margin: 2em 1rem 4em 1rem;
  letter-spacing: 1px;
  z-index: 3;
}

.were-different-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.were-different-block .different-block-line {
  margin: 4em 1rem 0 0;
}
.were-different-block h2 {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  margin: 2rem 0 2em 0;
}
.were-different-block .wd-snappy-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.were-different-block .wd-snappy-process img {
  width: 125px;
  height: 125px;
  margin: 1em 1rem 0 1rem;
}
.were-different-block .wd-snappy-process h3 {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  margin: 1em 1rem 0 1rem;
}
.were-different-block .wd-snappy-process p {
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 2em 1rem 2em 1rem;
  line-height: 1.6;
}
.were-different-block .wd-affordable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.were-different-block .wd-affordable img {
  width: 125px;
  height: 125px;
  margin: 1em 1rem 0 1rem;
}
.were-different-block .wd-affordable h3 {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  margin: 1em 1rem 0 1rem;
}
.were-different-block .wd-affordable p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 2em 1rem 2em 1rem;
  line-height: 1.6;
}
.were-different-block .wd-people-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.were-different-block .wd-people-first img {
  margin: 1em 1rem 0 1rem;
  width: 125px;
  height: 125px;
}
.were-different-block .wd-people-first h3 {
  font-family: "DM Serif Display", serif;
  margin: 1em 1rem 0 1rem;
  font-size: 36px;
}
.were-different-block .wd-people-first p {
  font-family: "Karla", sans-serif;
  margin: 2em 1rem 2em 1rem;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
}

.how-we-work-block {
  background-color: #2d2640;
  background-image: url("../../../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 1em;
  height: max-content;
}
.how-we-work-block h2 {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  text-align: center;
  color: #fafafa;
  margin: 2em 1rem;
}
.how-we-work-block .how-we-work-link {
  border: 2px solid #fafafa;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  padding: 20px;
  width: max-content;
  letter-spacing: 1px;
  margin: 0 1rem 4em 1rem;
}

footer {
  background-image: url("../../../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-line {
  height: max-content;
}
footer .footer-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  grid-row-gap: 20px;
}
footer .footer-items div {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 2;
  font-weight: 700;
}
footer .footer-items div .top-item {
  color: #837d87;
}

/*# sourceMappingURL=style.css.map */
