@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.noscroll {
  overflow-y: hidden;
  position: fixed;
}

.link {
  font-family: "Karla", sans-serif;
  border: 1px solid #fafafa;
  padding: 10px 30px;
  margin: 2em 0 4em 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 1.2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main img {
  max-width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  z-index: 10;
}
header img, header .mobile-icon {
  margin: 2em 2em;
}

@media screen and (min-width: 540px) {
  header .menu {
    margin: 0 15px;
  }
  header .menu ul {
    display: flex;
  }
  header .menu ul li {
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    color: #837d87;
    margin: 0 5px;
  }
  header .menu ul li:nth-child(4) {
    margin: 0;
  }
}
@media screen and (min-width: 700px) {
  header .menu {
    margin: 0 2em;
  }
}
@media screen and (min-width: 1000px) {
  header img, header .menu {
    margin: 2em 4em;
  }
}
.hero {
  background-color: #2d2640;
  color: #fafafa;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .bg-pattern-left-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero .bg-pattern-right-mobile {
  position: absolute;
  top: 380px;
  right: 0;
  z-index: 1;
}
.hero h1 {
  font-family: "DM Serif Display", serif;
  font-size: 42px;
  z-index: 2;
  margin: 2em 0 0 0;
}
.hero p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  margin: 2em 1em 0 1em;
  text-align: center;
  line-height: 1.6;
}

@media screen and (min-width: 375px) {
  .hero .bg-pattern-right-mobile {
    top: 320px;
  }
}
.were-different {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.were-different .wd-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.were-different .wd-heading svg {
  margin: 1em 0;
}
.were-different .wd-heading h2 {
  font-size: 42px;
  font-family: "DM Serif Display", serif;
  margin: 0 0 1em 0;
}
.were-different .were-different-items .wd-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.were-different .were-different-items .wd-item img {
  margin: 1em 0;
}
.were-different .were-different-items .wd-item h3 {
  font-family: "DM Serif Display", serif;
  margin: 1em 0;
  font-size: 36px;
}
.were-different .were-different-items .wd-item p {
  font-family: "Karla", sans-serif;
  text-align: center;
  line-height: 1.4;
  margin: 0 2em;
  color: #837d87;
}

.how-we-work-block {
  background-color: #2d2640;
  background-image: url("../../../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.how-we-work-block h2 {
  font-size: 42px;
  font-family: "DM Serif Display", serif;
  text-align: center;
  margin: 1em 0 0 0;
  color: #fafafa;
}

footer {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url("../../../images/bg-pattern-footer-mobile.svg");
  background-position: top left;
  background-repeat: no-repeat;
}
footer svg {
  z-index: 2;
}
footer .footer-bg {
  position: absolute;
  top: 0;
  left: 0;
}
footer .logo-and-icons {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
footer .logo-and-icons .insure-logo {
  margin: 2em 0;
}
footer .logo-and-icons .social-media-icons {
  margin: 1em 0 2em 0;
}
footer .logo-and-icons .social-media-icons .icon {
  margin: 0 10px;
}
footer .footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  z-index: 2;
  width: 100%;
  margin-bottom: 2em;
}
footer .footer-items .item {
  font-family: "Karla", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
footer .footer-items .item .top-item {
  color: #837d87;
  margin: 1.5em 0;
  font-size: 18px;
}
footer .footer-items .item li {
  margin: 1em 0;
}
footer .footer-items .item li a {
  text-decoration: none;
  color: #000;
  color: #2b272f;
  font-size: 16px;
}

@media screen and (min-width: 375px) {
  footer {
    background-image: url("../../../images/bg-pattern-footer-desktop.svg");
    background-position: top left;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 540px) {
  footer .logo-and-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  footer .logo-and-icons .insure-logo {
    margin: 0 4em 0 4em;
  }
  footer .logo-and-icons .social-media-icons {
    margin: 0 4em 0 4em;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-items {
    margin: 0 4em 2em 4em;
  }
  footer .footer-items .item {
    text-align: left;
    margin: 0 4em;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #2b272f;
  background-image: url("../../../images/bg-pattern-mobile-nav.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.mobile-menu ul {
  margin: 2em 0;
}
.mobile-menu ul li {
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fafafa;
  letter-spacing: 1px;
  margin: 2em 0;
}

/*# sourceMappingURL=style.css.map */
